[submodule "nova"]
	path = nova
	url = https://review.openstack.org/openstack/nova.git
    branch = .
[submodule "cinder"]
	path = cinder
	url = https://review.openstack.org/openstack/cinder.git
    branch = .
[submodule "django_openstack_auth"]
	path = django_openstack_auth
	url = https://review.openstack.org/openstack/django_openstack_auth.git
    branch = master
[submodule "glance"]
	path = glance
	url = https://review.openstack.org/openstack/glance.git
    branch = .
[submodule "horizon"]
	path = horizon
	url = https://review.openstack.org/openstack/horizon.git
    branch = .
[submodule "keystone"]
	path = keystone
	url = https://review.openstack.org/openstack/keystone.git
    branch = .
[submodule "neutron"]
	path = neutron
	url = https://review.openstack.org/openstack/neutron.git
    branch = .
[submodule "oslo.config"]
	path = oslo.config
	url = https://review.openstack.org/openstack/oslo.config.git
    branch = master
[submodule "python-cinderclient"]
	path = python-cinderclient
	url = https://review.openstack.org/openstack/python-cinderclient.git
    branch = master
[submodule "python-glanceclient"]
	path = python-glanceclient
	url = https://review.openstack.org/openstack/python-glanceclient.git
    branch = master
[submodule "python-keystoneclient"]
	path = python-keystoneclient
	url = https://review.openstack.org/openstack/python-keystoneclient.git
    branch = master
[submodule "python-neutronclient"]
	path = python-neutronclient
	url = https://review.openstack.org/openstack/python-neutronclient.git
    branch = master
[submodule "python-novaclient"]
	path = python-novaclient
	url = https://review.openstack.org/openstack/python-novaclient.git
    branch = master
[submodule "python-openstackclient"]
	path = python-openstackclient
	url = https://review.openstack.org/openstack/python-openstackclient.git
    branch = master
[submodule "python-swiftclient"]
	path = python-swiftclient
	url = https://review.openstack.org/openstack/python-swiftclient.git
    branch = master
[submodule "requirements"]
	path = requirements
	url = https://review.openstack.org/openstack/requirements.git
    branch = .
[submodule "swift"]
	path = swift
	url = https://review.openstack.org/openstack/swift.git
    branch = .
[submodule "tempest"]
	path = tempest
	url = https://review.openstack.org/openstack/tempest.git
    branch = .
[submodule "pbr"]
	path = pbr
	url = https://review.openstack.org/openstack-dev/pbr.git
    branch = master
[submodule "devstack"]
	path = devstack
	url = https://review.openstack.org/openstack-dev/devstack.git
    branch = .
[submodule "devstack-gate"]
	path = devstack-gate
	url = https://review.openstack.org/openstack-infra/devstack-gate.git
    branch = master
